@media only screen and (max-width:576px) {

    body {
        margin: 0 auto;
    }

    .btn {
        padding: 12px 24px;
    }

    /* navbar Styles  */
    .navbar {
        padding: 12px 16px;
        border-bottom: 0.5px solid var(--orange-color);
    }

    .navbar ul,
    .nav-btn,
    .navbar-icon-text {
        display: none;
    }

    .navbar span {
        display: block;
    }

    /* Hero Styles  */
    .hero {
        padding: 20px 0px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .hero-text {
        text-align: center;
    }

    .hero-title {
        font-size: var(--second-font);
        font-weight: 700;
        line-height: 40px;
    }

    .hero-caption {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 18px;
        padding: 18px 0;
    }
    .hero-img img{
        width: 90vw;
    }
    /* Standard Curriculum section Styles  */
    
}