/* Small (Mobile) Device Media Query */

@media only screen and (max-width:576px) {

    body {
        margin: 0 auto;

    }

    .btn {
        padding: 10px 22px;
        font-size: var(--first-font);
        border-radius: 8px;
    }

    .section-title {
        font-size: 1.62rem;
        font-weight: 700;
    }

    /* navbar Styles  */
    .navbar {
        padding: 12px 16px;
        border-bottom: 0.5px solid var(--orange-color);
    }

    .navbar-logo img {
        width: 46px;
        height: 46px;
    }

    .navbar ul,
    .nav-btn,
    .navbar-icon-text {
        display: none;
    }

    .navbar span {
        display: block;
    }

    /* Hero Styles  */
    marquee {
        margin-top: 20px;
    }

    .hero {
        padding: 20px 16px;
        flex-direction: column-reverse;
        /* gap: 20px; */
    }

    .hero-text {
        text-align: center;
        /* width: 90%; */
    }

    .hero-title {
        font-size: var(--second-font);
        font-weight: 700;
        line-height: 40px;
    }

    .hero-caption {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 18px;
        padding: 18px 0;
    }

    .hero-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .hero-img img {
        max-width: 90%;
    }

    /* Standard Curriculum section Styles  */
    .curriculum {
        margin: 0 auto;
        padding: 40px 16px;
    }

    .c-whole-card {
        grid-template-columns: auto;
        padding: 20px 16px;
        justify-self: center;
        gap: 12px;
    }

    .c-card {
        width: 90%;
        padding: 36px 28px;
        justify-self: center;
    }

    .c-card1 img {
        width: 88px;
        height: 75px;
    }

    .c-card2 img {
        width: 93px;
        height: 84px;
    }

    .c-card3 img {
        width: 84px;
        height: 85px;
    }

    .c-card-title {
        font-size: var(--first-font);
        padding-top: 22px;
    }

    .c-card-caption {
        padding: 22px 50px;
        font-size: 0.62rem;
        font-weight: 500;
        line-height: 19.16px;
    }

    .c-card a {
        font-size: 0.62rem;
        padding-bottom: 36px;
    }

    .slidebar {
        display: none;
    }

    /* Our Stories Section Styles  */
    .stories {
        margin: 0 auto;
        padding: 10px 16px 40px 16px;

    }

    .story {
        padding: 0;
    }

    .s-card {
        display: grid;
        justify-content: center;
        padding: 20px 0;
        gap: 0;
    }

    .story-card-left {
        display: none;
    }

    .story-card-right {
        gap: 11px;
        grid-template-columns: repeat(2, 1fr);
    }

    .s-card-right {
        width: 168px;
        height: 179.59px;
        border-radius: 9px;
    }

    .s-card-right img {
        width: 100%;
        border-radius: 9.53px 9.53px 0px 0px;
    }

    .s-card-btn {
        padding: 6px 12px;
        font-weight: 500;
        font-size: 0.62rem;
        font-weight: 500;
    }

    .s-card-title {
        font-size: 9.13px;
        font-weight: 700;
        line-height: 17.12px;
        padding: 14px 32px 19px 22px;
    }

    /* Footer Section Styles  */
    .footer {
        padding: 36px 12px 36px 20px;
        height: 642px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer-left-icon h2 {
        font-size: 2.1rem;
        line-height: 33.5px;
    }

    .footer-left-icon img {
        width: 69.23px;
        height: 69.23px;
    }

    .footer-left p {
        font-size: var(--first-font);
        line-height: 20px;
        padding: 22px 0 5px 0;
    }

    .footer-text {
        font-size: var(--first-font1);
        font-weight: 600;
        padding-bottom: 27px;
    }

    .footer-center li {
        padding-bottom: 17px;
    }

    .footer-center a {
        font-size: var(--first-font);
    }

    .footer-right h3 {
        padding: 0px 0 36px 0;
    }

    .footer-right h3 {
        font-size: 1.37rem;
        font-weight: 700;
    }

    .footer-right img {
        width: 33.91px;
        height: 33.91px;
        padding-right: 8px;
    }

}


/* Medium (Tablet) Device Media Query  */
@media only screen and (min-width:576px) and (max-width:992px) {
    .navbar {
        justify-content: space-around;
    }
    .navbar-logo h3{
        display: none;
    }
    .navbar button{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero-text{
        max-width: 80%;
    }
    .c-whole-card{
        grid-template-columns: repeat(2, 40%);
        justify-content: center;
    }
    .c-card {
        width: unset;
    }
    .c-card3{
        grid-column: span 2;
        width: 48%;
        justify-self: center;
    }
    
    .s-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .story-card-left{
        width: 600px;
        height: 670px;

    }
    .story-card-left img {
        width: 100%;

    }
    .footer{
        flex-direction: column-reverse;
        height: 800px;
        align-items: center;
        text-align: center;
    }
    
}