@media only screen and (max-width:390px){
    body{
        margin: 0 auto;
        max-width: 390px;
        
    }
    .navbar{
        padding: 12px 16px;
        border-bottom: 0.5px solid var(--orange-color) ;
    }
    .navbar ul, button{
        display: none;
    }
    .navbar span{
        display: block;
    }
    .navbar-icon-text{
        display: none;
    }
    
}