@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", "Raleway", serif;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
}

section {
    padding-bottom: 20px;
}

/* Common styles */
:root {
    --orange-color: #fea301;
    --orange-color2: #F0AA00;
    --skyblue-color: #01acfd;
    --skyblue-color2: #64C8FF;
    --cyan-color: #05d4df;
    --cyan-color2: #3CD8E8;
    --purple-color: #5d58ef;
    --purple-color2: #8700FF;
    --green-color: #95B226;
    --blue-color: #5d58f0;
    --black-color: #000000;
    --white-color: #ffffff;
    --first-font: 1rem;
    --first-font1: 1.25rem;
    --first-font2: 1.5rem;
    --second-font: 2rem;
}

.orange-color {
    color: var(--orange-color);
}

.orange-color:hover {
    color: var(--skyblue-color);
}

.skyblue-color {
    color: var(--skyblue-color);
}

.skyblue-color:hover {
    color: var(--black-color);
}

.purple-color {
    color: var(--purple-color);
}

.purple-color:hover {
    color: var(--orange-color);
}

.section-title {
    color: var(--black-color);
    font-size: 2.9rem;
    font-weight: 700;
}

.section-title:hover {
    color: var(--orange-color);
    cursor: grab;

}

.section-title::selection {
    background-color: var(--orange-color);
    color: var(--white-color);
}

.section-caption {
    color: var(--black-color);
    font-size: var(--first-font1);
    font-weight: 400;
    line-height: 25px;
}

.btn {
    color: var(--white-color);
    font-size: var(--first-font1);
    padding: 12px 34px;
    border-radius: 12px;
    border: none;
}

.btn:hover {
    background-color: var(--skyblue-color);
    transition: ease-in-out 1s;
    box-shadow: 1px 1px 2px #ceb7b7;
    cursor: pointer;
}

.btn-orange {
    background: var(--orange-color);
    font-weight: 600;
}

.btn-black {
    background: var(--black-color);
    font-weight: 700;
}

.btn-black:hover {
    background: var(--orange-color);
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.ta-center {
    text-align: center;
}



/* Navbar Section styles  */
.navbar {
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding: 20px 0;

}

.navbar-icon-text {
    color: var(--black-color);
    font-size: var(--second-font);
    font-weight: 700;
}

.navbar-icon-text:hover {
    color: var(--skyblue-color);
    cursor: grab;
}

.navbar-logo {
    align-items: center;
    gap: 10px;
}
.navbar-logo h3::selection {
    color: var(--orange-color);

}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: var(--first-font);
    font-weight: 700;
}

.navbar ul li a:hover {
    color: var(--purple-color2);
    cursor: pointer;
}
.navbar ul li a::selection {
    color: var(--black-color);
}
.navbar li:nth-child(1) a {
    color: var(--orange-color);
}

.navbar li:nth-child(2) a {
    color: var(--skyblue-color);
}

.navbar li:nth-child(3) a {
    color: var(--cyan-color);
}

.navbar li:nth-child(4) a {
    color: var(--purple-color);
}

.navbar-text {
    gap: 32px;
}

.hamburger {
    display: none;
}

/* Hero Section styles */
marquee {
    font-weight: 700;
    color: var(--skyblue-color);
}

marquee:hover {
    color: var(--orange-color);
}

.hero {
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
}

.hero-title:hover {
    color: var(--purple-color);
    cursor: grab;
}

.hero-caption {
    padding: 24px 0;
}

.hero-caption:hover {
    color: var(--blue-color);
    font-weight: 600;
}

/* Standard Curriculum Section Styles */
.curriculum {
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.c-whole-card {
    padding: 80px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;

}

.c-card-title {
    color: var(--black-color);
    font-size: 1.53rem;
    font-weight: 700;
    padding-top: 32px;
}

.c-card-title:hover {
    color: var(--purple-color2);

}

.c-card-caption {
    padding: 33px 0;
    color: #808080;
    font-family: Raleway;
    font-size: var(--first-font);
    font-weight: 500;
    line-height: 28px;
}

.c-card-caption:hover {
    color: var(--black-color);
}

.c-card {
    width: 367px;
    padding: 53px 40px;
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.c-card:hover {
    background: linear-gradient(180.00deg, rgba(141, 189, 151, 0.185), rgba(119, 97, 97, 0) 40%), rgba(127, 127, 180, 0.103);
    transition: ease-in-out 1s;
    cursor: grab;
}

.c-card1 {
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.c-card2 {
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.c-card3 {
    border: 0.94px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.c-card a {
    text-decoration: none;
    font-family: Quicksand;
    font-size: 0.9rem;
    font-weight: 700;

}

.c-card a:hover {
    color: var(--black-color);
    font-size: var(--first-font);
}

.c-card1 a {
    color: var(--skyblue-color2);

}

.c-card2 a {
    color: var(--orange-color2);

}

.c-card3 a {
    color: var(--purple-color2);

}

.slidebar {
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.slidebar-left,
.slidebar-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--orange-color);

}

.slidebar-left:hover,
.slidebar-right:hover {
    background-color: var(--purple-color);
    transition: ease-in-out 1s;
    cursor: pointer;
}

.slidebar img {
    padding: 15px;
}

/* Our Stories Section Styles  */
.stories {
    background: url(../assets/images/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.s-card {
    padding: 80px 0;
    gap: 20px;
}

.story-card-left {
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    position: relative;
}

.story-card-left {
    cursor: zoom-out;
}

.story-card-left img {
    border-radius: 16px 16px 0 0;
}

.story-card-title {
    padding: 50px 99px 30px 38px;
}

.story-card-caption {
    padding: 28px 50px 20px 38px;
}

.story-card-btn {
    border-radius: 50px;
    background: var(--purple-color2);
    border: none;
    padding: 15px 20px;
    color: var(--white-color);
    font-family: Raleway;
    font-size: var(--first-font);
    font-weight: 500;
    position: absolute;
    left: 30px;
    top: 50%;

}

.story-card-btn:hover {
    background: var(--orange-color);
    cursor: pointer;
}

/* Right side card  */
.story-card-right {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.s-card-right {
    width: 290px;
    height: 301.61px;
    border-radius: 16px;
    background: var(--white-color);
    position: relative;
}

.s-card-right img {
    border-radius: 16px 16px 0px 0px;
}

.s-card-title {
    color: var(--black-color);
    font-size: var(--first-font);
    font-weight: 700;
    line-height: 28px;
    padding: 35px 40px 33px 37px;
}

.s-card-title:hover {
    color: var(--purple-color2);
}

.s-card-btn {
    padding: 9px 19px;
    border-radius: 47.93px;
    border: none;
    color: var(--white-color);
    font-family: Raleway;
    font-size: var(--first-font);
    font-weight: 500;
}

.s-card-btn:hover {
    background-color: var(--purple-color2);
    cursor: pointer;
}

.s-card1:hover {
    cursor: not-allowed;

}

.sc-btn1,
.sc-btn2 {
    position: absolute;
    left: 13%;
    bottom: 35%;
}

.sc-btn3,
.sc-btn4 {
    position: absolute;
    left: 13%;
    bottom: 33%;
}

.sc-btn1 {
    background: var(--skyblue-color);
}

.sc-btn2 {
    background: var(--green-color);
}

.sc-btn3 {
    background: var(--orange-color);
}

.sc-btn4 {
    background: var(--blue-color);
}

.story-btn {
    justify-content: center;
}

/* Footer Section Styles  */
footer {
    background: rgb(1, 172, 253);

}

.footer-left-icon {
    gap: 10px;
}

.footer-left-icon h2 {
    color: var(--white-color);
    font-size: 2.62rem;
    font-weight: 700;
    line-height: 39.51px;
}

.footer-left-icon h2:hover {
    color: var(--black-color);
    cursor: cell;
}

.footer-left p {
    color: var(--white-color);
    font-size: var(--first-font1);
    font-weight: 400;
    line-height: 25px;
    padding-top: 35px;
}

.footer-left p:hover {
    cursor: pointer;
    color: var(--black-color-black-color);
    transition: ease-in-out 1s;
}

.footer {
    padding: 125px 0 110px 0;
    height: 300px;
    justify-content: space-between;
}

.footer-text {
    color: var(--white-color);
    font-size: var(--first-font2);
    font-weight: 700;
    padding-bottom: 32px;
}

.footer-center:hover {
    cursor: pointer;
    color: var(--black-color);
}

.footer-center li {
    list-style: none;
    padding-bottom: 20px;
}

.footer-center a {
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--first-font2);
    font-weight: 500;
}

.footer-right h3 {
    font-size: 1.62rem;
    font-weight: 700;
}

.footer-right h3:hover {
    cursor: grab;

}

.footer-right img {
    padding-right: 10px;
}